*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
old/
mnist/
data/
caffe/
grasp/
backup/
images/
opencv/
convnet/
results/
decaf/
submission/
cfg/
darknet
darknet-cpp
.fuse*
*.weights
.cproject
.settings*
oprof*
VOCdevkit/
VOC-Data-Set/
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
